.site-header,
.site-footer {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header {
  border-bottom: 1px solid #eee;
}

.site-footer {
  border-top: 1px solid #eee;
  font-size: 14px;
  color: #666;
}

.nav a {
  margin-left: 16px;
  text-decoration: none;
  color: #111;
}
